<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.ibk.card.member.vo.MemberVo" alias="MemberVo" />
		<typeAlias type="com.ibk.card.member.vo.CardVo" alias="CardVo" />
		<typeAlias type="com.ibk.card.member.vo.AddressVo" alias="AddressVo" />
		<typeAlias type="com.ibk.card.member.vo.ModifyLogVo" alias="ModifyLogVo" />
		<typeAlias type="com.ibk.card.member.vo.JqgridVo" alias="JqgridVo" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
	</mappers>
</configuration>
